:root {
  /* Colors */
  --heading-color: #212925;
  --sub-heading-color: #343a40;
  --content-color: #495057;
  --background-color: #f8f9fa;
  --container-color: #e9ecef;
  --focus-color: #3dccc7;

  /* Fonts */
  --font-primary: "Roboto";
  --font-secondary: "Poppins";
  --font-heading: "Play Fair Display";
  --font-logo: "DM Serif Display";

  /* Text Size */
  --text-lg-small: 12px;
  --text-lg-detail: 14px;
  --text-lg-body: 18px;
  --text-lg-subtitle: 28px;
  --text-lg-title: 32px;
  --text-lg-display: 60px;

  --text-md-small: 12px;
  --text-md-detail: 14px;
  --text-md-body: 16px;
  --text-md-subtitle: 16px;
  --text-md-title: 22px;
  --text-md-display: 32px;

  --text-sm-small: 10px;
  --text-sm-detail: 12px;
  --text-sm-body: 13px;
  --text-sm-subtitle: 15px;
  --text-sm-title: 17px;
  --text-sm-display: 22px;
}

/* Style for Footer*/
footer {
  color: var(--heading-color);
  font-family: var(--font-primary);
  padding: 20px;
  text-decoration: none;
  list-style: none;
  line-height: 1.4;
  cursor: pointer;
}

.footer-headings {
  font-family: var(--font-heading);
  font-weight: 600;
}

.social-icons {
  color: var(--content-color);
}

.social-icons:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.menu a,
.menu li {
  color: var(--content-color);
  font-family: var(--font-primary);
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

.menu a:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.footer-coded {
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

/* Screen Adjustments */
/* Small Screens */
@media (min-width: 576px) {
  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-sm-title);
  }

  .menu a,
  .menu li {
    font-size: var(--text-sm-body);
  }

  .footer-coded {
    font-size: var(--text-sm-detail);
  }
}

/* Medium Screens */
@media (min-width: 768px) {
  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-md-title);
  }

  .menu a,
  .menu li {
    font-size: var(--text-md-body);
  }

  .footer-coded {
    font-size: var(--text-md-detail);
  }
}

/* Large Screens */
@media (min-width: 1024px) {
  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-lg-subtitle);
  }

  .menu a,
  .menu li {
    font-size: var(--text-lg-body);
  }

  .footer-coded {
    font-size: var(--text-lg-detail);
  }
}
