:root {
  /* Colors */
  --heading-color: #212925;
  --sub-heading-color: #343a40;
  --content-color: #495057;
  --background-color: #f8f9fa;
  --container-color: #e9ecef;
  --focus-color: #3dccc7;

  /* Fonts */
  --font-primary: "Roboto";
  --font-secondary: "Poppins";
  --font-heading: "Play Fair Display";
  --font-logo: "DM Serif Display";

  /* Text Size */
  --text-lg-small: 12px;
  --text-lg-detail: 14px;
  --text-lg-body: 18px;
  --text-lg-subtitle: 28px;
  --text-lg-title: 32px;
  --text-lg-display: 60px;

  --text-md-small: 12px;
  --text-md-detail: 14px;
  --text-md-body: 16px;
  --text-md-subtitle: 16px;
  --text-md-title: 22px;
  --text-md-display: 32px;

  --text-sm-small: 10px;
  --text-sm-detail: 12px;
  --text-sm-body: 13px;
  --text-sm-subtitle: 15px;
  --text-sm-title: 17px;
  --text-sm-display: 22px;
}

/* Style for Other Projects */
/* Style for Other Projects Entire Card */
.card {
  margin: 20px 0 20px 0;
}

.card-header {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.4;
}

/* Style for Project Individual Cards */
/* Style for Card Text */
.card-title {
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--sub-heading-color);
  line-height: 1.4;
}

.card-text {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--content-color);
}

/* Style for Card Button */
.card .btn-dark {
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--heading-color);
  color: var(--container-color);
  border: 1px solid var(--heading-color);
  border-radius: 6px;
  margin: 0;
}

.card .btn-dark:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

/* Style for Pagination */
.pagination .page-link {
  color: var(--heading-color);
  font-family: var(--font-primary);
  font-weight: 400;
  text-decoration: none;
  border: 2px solid var(--container-color);
}

.pagination .page-link:hover {
  background-color: var(--container-color);
  color: var(--focus-color);
  border: 2px solid var(--container-color);
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.pagination .page-item.active .page-link {
  background-color: var(--focus-color);
  color: var(--background-color);
  font-weight: 600;
  border: 2px solid var(--focus-color);
  transition: all 200ms ease-in-out;
}

/* Screen Adjustments */
/* Small Screens */
@media (min-width: 576px) {
  .card-header {
    font-size: var(--text-sm-body);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-sm-body);
  }

  .card-text {
    font-size: var(--text-sm-detail);
  }

  /* Style for Card Button */
  .card .btn-dark {
    font-size: var(--text-sm-detail);
  }

  /* Style for Pagination */
  .pagination .page-link {
    font-size: var(--text-sm-detail);
  }
}

/* Medium Screens */
@media (min-width: 768px) {
  .card-header {
    font-size: var(--text-md-body);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-md-body);
  }

  .card-text {
    font-size: var(--text-md-detail);
  }

  /* Style for Card Button */
  .card .btn-dark {
    font-size: var(--text-md-detail);
  }

  /* Style for Pagination */
  .pagination .page-link {
    font-size: var(--text-md-detail);
  }
}

/* Large Screens */
@media (min-width: 1024px) {
  .card-header {
    font-size: var(--text-lg-body);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-lg-body);
  }

  .card-text {
    font-size: var(--text-lg-detail);
  }

  /* Style for Card Button */
  .card .btn-dark {
    font-size: var(--text-lg-detail);
  }

  /* Style for Pagination */
  .pagination .page-link {
    font-size: var(--text-lg-detail);
  }
}
